{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% if SITEDESCRIPTION %} - {{ SITEDESCRIPTION }}{% endif %}{% endblock title %}

{% block description %}{{ SITEDESCRIPTION|default(SITENAME) }}{% endblock description %}

{% block content %}
<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{ SITENAME }}</h1>
            {% if SITEDESCRIPTION %}
            <h2 class="subtitle is-3">{{ SITEDESCRIPTION }}</h2>
            {% endif %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
    </div>
</section>
{% endblock content %}
